<div class="jumbotron center">
	<h1>Landing Page</h1>
	<p>Woot Woot!</p>
	<P> Click Here to Sign Up <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %> </p>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>